@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
}

.calculadora {
  margin-block-start: 10%;
  padding-block: 5%;
  display: grid;
  place-items: center;
  gap: 1rem;
  background-color: #427092;
}
.calculadora__resultado {
  margin-inline: auto;
}
.calculadora__sub {
  margin-block-start: 2rem;
}
.calculadora__explicacion {
  margin-inline: 25%;
}

.btn-calc {
  background-color: #363537;
  color: #E8FCCF;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1.3rem;
  margin-inline-start: 0.6rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-block-start: 3rem;
}
.cards .card {
  width: 15rem;
  background-color: #363537;
  border-radius: 0.5rem;
  padding-block-end: 2rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
}
.cards .card__image {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.cards .card__title, .cards .card__text {
  margin-block: 0.5rem;
  padding-inline: 1rem;
  color: #E8FCCF;
}

.card__button,
.modal__button {
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  margin-block-start: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #427092;
  color: #E8FCCF;
}
.card__button:hover, .card__button:focus,
.modal__button:hover,
.modal__button:focus {
  background-color: #E8FCCF;
  color: #363537;
}

footer {
  background-color: #363537;
  color: #E8FCCF;
  padding-block: 1rem;
}

.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: #427092;
}
.heroText {
  color: #E8FCCF;
  padding-block-start: 30%;
  text-align: left;
  margin-inline: 5%;
  font-size: 3rem;
}
.heroTagline {
  color: #E8FCCF;
  text-align: left;
  margin-block-start: 1rem;
  margin-inline-start: 5%;
  margin-inline-end: 20%;
  font-size: 1.3ch;
}

.navBar {
  background-color: #363537;
  color: #FFF;
  position: fixed;
  width: 100%;
}
.navBar ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding-block: 1rem;
}
.navBar ul li {
  margin-inline: 1rem;
}
.navBar ul li a {
  text-decoration: none;
  color: #E8FCCF;
}
.navBar ul li a:hover {
  color: #427092;
}

.notificaciones {
  width: auto;
}
.notificaciones form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 0 1 100%;
  width: auto;
  margin-block: 1rem;
}
.notificaciones form .contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  flex: 0 1 100%;
  margin-block: 0.5rem;
}
.notificaciones form .contenedor label {
  font-size: 0.8rem;
}
.notificaciones form .contenedor input,
.notificaciones form .contenedor select {
  width: 15rem;
  padding: 0.2rem;
}
.notificaciones form .contenedor select {
  margin-block-start: 0.5rem;
}
.notificaciones form #notificaciones__submit {
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  margin-block-start: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #427092;
  color: #E8FCCF;
}
.notificaciones form #notificaciones__submit:hover, .notificaciones form #notificaciones__submit:focus {
  background-color: #363537;
}

.modal {
  display: grid;
  grid-template-columns: 2;
  gap: 1rem;
  background-color: #363537;
  margin: 1rem;
  border-radius: 0.5rem;
  z-index: 1;
  position: fixed;
  place-items: center;
  align-items: center;
  border: none;
}
.modal__image {
  grid-column: 1;
  grid-row: 1/span 4;
  align-self: center;
  justify-self: center;
  width: 100%;
  margin-inline-start: 1rem;
  margin-block-start: 1rem;
  border-radius: 0.5rem;
}
.modal__title {
  margin-block: 1rem;
  margin-inline: auto;
  grid-column: 2;
  color: #E8FCCF;
}
.modal__text {
  margin-block: 1rem;
  margin-inline: 2rem;
  color: #E8FCCF;
  grid-row: span 2;
}
.modal__cerrar {
  text-decoration: underline;
  grid-row: 6;
  grid-column: 1/span 2;
  font-size: 0.8rem;
  color: #E8FCCF;
  margin-block-end: 1rem;
  cursor: pointer;
}
.modal__cerrar:hover {
  color: #427092;
}

modal::backdrop {
  background-color: #427092;
  opacity: 0.5;
}

.header {
  padding-block-start: 60px;
  text-align: left;
}
.header__tienda {
  margin-inline: 1rem;
}

.carritoHeader {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  margin-bottom: 2rem;
}
.carritoHeader__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.carritoHeader__eliminar {
  border: 2px solid #363537;
  border-radius: 0.7rem;
  padding: 0.5rem;
  cursor: pointer;
}
.carritoHeader__eliminar:hover, .carritoHeader__eliminar:focus {
  background-color: #363537;
  color: #E8FCCF;
}
.carritoHeader__mover {
  border: 2px solid #427092;
  border-radius: 0.7rem;
  background-color: #427092;
  padding: 0.5rem;
  color: #E8FCCF;
  cursor: pointer;
}
.carritoHeader__mover:hover, .carritoHeader__mover:focus {
  color: #363537;
  background-color: #E8FCCF;
}

.productos {
  width: 100%;
}
.productos__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  border-radius: 0.5rem;
  background-color: #363537;
  margin-block: 2rem;
  margin-inline: 5rem;
}
.productos__image {
  grid-column: 1;
  grid-row: 1/span 2;
  width: 100%;
  border-radius: 0.5rem;
}
.productos__titulo {
  grid-column: 2/span 2;
  color: #E8FCCF;
}
.productos__precio {
  color: #E8FCCF;
  font-size: 1.8ch;
  font-weight: 300;
  align-self: center;
}

.carrito__vacio {
  margin-block: 2rem;
}

.carritoRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #427092;
  margin-block-end: 1rem;
  padding-block-end: 0.5rem;
}
.carritoRow__columnas {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  gap: 10rem;
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  margin-inline: 1%;
}
.carritoRow__columnas .columnas__item {
  margin-block-start: 1rem;
  font-weight: 500;
}
.carritoRow__img {
  width: 100px;
  border-radius: 0.5rem;
}
.carritoRow__cantidad {
  width: 2rem;
}
.carritoRow__eliminar {
  border: 2px solid #363537;
  border-radius: 0.7rem;
  padding: 0.5rem;
  cursor: pointer;
}
.carritoRow__eliminar:hover, .carritoRow__eliminar:focus {
  background-color: #363537;
  color: #E8FCCF;
}

.testimonies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-inline: 0.6rem;
}
.testimonies .card--alt {
  display: flex;
  flex-direction: column;
  background-color: #363537;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
    flex: 0 1 100%;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
  }
}

/*# sourceMappingURL=style.css.map */
