@use "../abstracts/" as a;

.header {
    padding-block-start: 60px;
    text-align: left;
    &__tienda {
        margin-inline: 1rem;
    }
}

.carritoHeader {
display: flex;
justify-content: space-between;
padding-inline: 1rem;
margin-bottom: 2rem;
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__eliminar {
        border: 2px solid a.$clrSecondary;
        border-radius: 0.7rem;
        padding: 0.5rem;
        cursor: pointer;
    }
    &__eliminar:hover,
    &__eliminar:focus {
        background-color: a.$clrSecondary;
        color: a.$clrAccent;
    }
    &__mover {
        border: 2px solid a.$clrMain;
        border-radius: 0.7rem;
        background-color: a.$clrMain;
        padding: 0.5rem;
        color: a.$clrAccent;
        cursor: pointer;

    }
    &__mover:hover,
    &__mover:focus {
        color: a.$clrSecondary;
        background-color: a.$clrAccent;
    }
}

.productos {
    width: 100%;
   &__card {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       place-items: center;
       border-radius: 0.5rem;
       background-color: a.$clrSecondary;
       margin-block: 2rem;
       margin-inline: 5rem;
   }
   &__image {
       grid-column: 1;
       grid-row: 1 / span 2;
       width: 100%;
       border-radius: 0.5rem;
   }
   &__titulo {
       grid-column: 2 / span 2;
       color: a.$clrAccent;
   }
   &__precio {
       color: a.$clrAccent;
       font-size: 1.8ch;
       font-weight: 300;
       align-self: center;
   }
}

.carrito__vacio {
    margin-block: 2rem;
}

.carritoRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid a.$clrMain;
    margin-block-end: 1rem;
    padding-block-end: 0.5rem;
    &__columnas {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        gap: max(10rem);
        margin-block-start: 2rem;
        margin-block-end: 1rem;
        margin-inline: 1%;
        .columnas__item {
            margin-block-start: 1rem;
            font-weight: 500;

        }
    }
    &__img {
        width: 100px;
        border-radius: 0.5rem;
    }
    &__cantidad {
        width: 2rem;
    }
    &__eliminar {
        border: 2px solid a.$clrSecondary;
        border-radius: 0.7rem;
        padding: 0.5rem;
        cursor: pointer;
    }
    &__eliminar:hover,
    &__eliminar:focus {
        background-color: a.$clrSecondary;
        color: a.$clrAccent;
    }
}
.carrito {
    display: grid;
    .total {
        place-self: start;
        margin-inline-start: 1rem;
        margin-block-end: 2rem;
    }
}
