@use "../abstracts" as a;

.notificaciones {
    width: auto;
    
    form {
        @include a.flexValues(column,wrap, center, center, 0 1 100%);
        width: auto;
        margin-block: 1rem;

        .contenedor {
            @include a.flexValues(column,nowrap, center, flex-start, 0 1 100%);
            margin-block: 0.5rem;

            label {
                font-size: 0.8rem;
            }
            input,
            select {
                width: 15rem;
                padding: 0.2rem;
                
            } 
            select {
                margin-block-start: 0.5rem;
            } 
        }
        #notificaciones__submit {
            padding-inline: 1.2rem;
            padding-block: 0.8rem;
            margin-block-start: 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            box-shadow: 5px 5px 20px rgba(0,0,0, 0.15);
            border: none;
            background-color: a.$clrMain;
            color: a.$clrAccent;
            &:hover,
            &:focus {
            background-color: a.$clrSecondary;
            }
        }
    }
}