@forward "../componentes/calculadora";
@forward "../componentes/cards";
@forward "../componentes/footer";
@forward "../componentes/hero";
@forward "../componentes/navbar";
@forward "../componentes/form";
@forward "../componentes/modal";

@forward "../componentes/media";